
.view-commerce-backoffice-products thead {
  display: none;
}
.megarow-content {
  padding-top: 0;
}
.megarow-content table {
  border: 0;
}
.megarow-content tr {
  border: 0 !important;
  background-color: #f2f2f2 !important;
  border-bottom: 5px solid white !important;
}
.megarow-content tr td:last-child {
  border: 0 !important;
}
